
/* form starting stylings ------------------------------- */
.group        { 
  position:relative; 
  margin: 100px auto 0;
  margin-top: 52px;
}
input         {
  font-size:18px;
  padding:10px 614px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }
/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none; 
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}
body { 
  background-color: #bdc3c7;
}
form {
  margin-left:auto;
}
//.center1 {
  //width:400px; margin-right:auto; margin-left:auto;
//}

    body {
      background-color: #f9f9f9;
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;
    }
    
    section {
      padding: 30px 25px;
    }
    
    section > * {
      margin: 10px
    }
    
    /* Button */
    .button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
    
    .button.narrow {
      width: 60px;
    }
    
    .button.grey {
      background-color: #eee;
    }
    
    .button.blue {
      background-color: #4285f4;
      color: #fff;
    }
    
    .button.green {
      background-color: #0f9d58;
      color: #fff;
    }
    
    .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
    
    /* Icon Button */
    .icon-button {
      position: relative;
      display: inline-block;
      width: 56px;
      height: 56px;
    }
    
    .icon-button > core-icon {
      margin: 16px;
      transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .icon-button:hover > core-icon {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    
    .icon-button > paper-ripple {
      overflow: hidden;
      color: #646464;
    }
    
    .icon-button.red > core-icon::shadow path {
      fill: #db4437;
    }
    
    .icon-button.red > paper-ripple {
      color: #db4437;
    }
    
    .icon-button.blue > core-icon::shadow path {
      fill: #4285f4;
    }
    
    .icon-button.blue > paper-ripple {
      color: #4285f4;
    }
    
    /* FAB */
    .fab {
      position: relative;
      display: inline-block;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .fab.red {
      background-color: #d23f31;
    }
    
    .fab.blue {
      background-color: #4285f4;
    }
    
    .fab.green {
      background-color: #0f9d58;
    }
    
    .fab:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
    
    .fab > core-icon {
      margin: 16px;
    }
    
    .fab > core-icon::shadow path {
      fill: #fff;
    }
    
    /* Menu */
    .menu {
      display: inline-block;
      width: 180px;
      background-color: #fff;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
    
    .item {
      position: relative;
      height: 48px;
      line-height: 48px;
      color: #646464;
      font-size: 0.9em;
    }
    
    .menu.blue > .item {
      color: #4285f4;
    }
    
    /* Card, Dialog */
    .card, .dialog {
      position: relative;
      display: inline-block;
      width: 300px;
      height: 240px;
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }
    
    .dialog {
      box-sizing: border-box;
      padding: 16px;
    }
    
    .dialog > .content {
      height: 170px;
      font-size: 0.9em;
    }
    
    .dialog > .content > .title {
      font-size: 1.3em;
    }
    
    .dialog > .button {
      width: 90px;
      float: right;
    }
    
    .card.image {
      background: url(http://lorempixel.com/300/240/nature/);
      color: #fff;
    }
    
    /* Misc */
    .center {
      text-align: center;
      margin-right:auto;
      margin-top:auto;
      
    }
    
    .label {
      padding: 0 16px;
    }
    
    .label-blue {
      color: #4285f4; 
    }
    
    .label-red {
      color: #d23f31; 
    }
    
    h1 {
      color: red;
      text-align:center;
      font-style:italic;
      text-decoration: underline;
      
    }
    div.messages {
      color: purple;
      text-align: center; 
 
    }
    @import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

.module {
  width: 300px;
  margin: 20px auto;
}

.top-bar {
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  h1 {
    display: inline;
    font-size: 1.1rem;
  }
  .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
  }
  .typicons-minus {
    position: relative;
    top: 3px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    padding-top: 5px;
  }
  > * {
    position: relative; 
  }
  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(white, black);
    animation: pulse 1s ease alternate infinite;
  }
}

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0; // finality
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px; // stronger than %
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}
